<div>
    <h1>{{ salute}} </h1>
    <div class="actions-buttons">
        <button class="cibutton cibutton-blue" privilege="button.requiredPrivileges"> Acknowledge </button>
        <button class="cibutton cibutton-blue" privilege="button.requiredPrivileges"> Unacknowledge </button>
        <button class="cibutton cibutton-blue" privilege="button.requiredPrivileges"> Ignore </button>
        <button class="cibutton cibutton-blue" privilege="button.requiredPrivileges"> Export </button>
        <button class="cibutton cibutton-red" privilege="button.requiredPrivileges"> Delete </button>
        <button class="cibutton cibutton-blue" privilege="button.requiredPrivileges"> Archive Alerts </button>
    </div>
    <div class="filter-filed">
        <span>
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="glyphicon glyphicon-filter"></span>
            <span>Advanced Filters</span>
        </span>
        <span class="clear-filter">
            <a href="#"> Clear Filter </a>
        </span>
    </div>
    <div class="">
        <div class="col-sm-9" style="padding-left:0px;">
		    

            <div id="grid1" ui-grid="gridOptions" class="grid"  ui-grid-auto-resize  ui-grid-pagination ui-grid-selection></div>
		</div>
		</div>


	    </div>
	    
    </div>

</div>