<div class="modal fade in wizard-modal" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="dismissModal()">&times;</button>
                <h3 class="modal-title">
                    <span ng-class="wizardSteps.icon ? wizardConfig.icon : 'glyphicon glyphicon-tasks' "></span>
                    About
                </h3>
            </div>
            <div class="modal-body">
                 <h3>General Information</h3>

                    OpenManage Essentials<br>
                    Version 2.20.1543<br>
                    Copyright@ Dell Inc. 1995-2016. All rights reserved.(<a href="#">Licensing information</a>)
                    <p>&nbsp;</p>
                    <h3>Details</h3>

                    <p>
                        Dell OpenManage Essentials is a web-based one-to-many hardware management application
                        that allows you to manage Dell devices in your network.
                    </p> 
            </div>
            <div class="modal-footer">
                <button type='button' class='btn btn-default' ng-click='dismissModal()'>Close</button>
            </div>
            <!--footer-->
        </div>
    </div>
</div>
