<div class="panel panel-default alert-drop-down">
    <div class="panel-heading">
        <h3 class="panel-title"><cp-icon icon-class="question-sign"></cp-icon> Help </h3>
    </div>
    <div class="panel-body">
        <ul class="list-group">
            <li class="list-group-item-text alert-post-item" ng-repeat="alertItem in cpData track by $index">
                <cp-icon class="alert-type" icon-class="{{alertItem.icon}}"></cp-icon>
                <p class="alert-description">{{alertItem.description}} </p>
            </li>
        </ul>
    </div>
</div>
    
