<form>
    <br />
   <div class="row">
        <div class="col-md-5">
            <fieldset>
                <div class="row">
                    <div class="col-md-12">
                        <cp-input name="username"  ng-model="user.name" label="{{'formlabels.username' | translate}}" required="true" ng-pattern="/^[a-zA-Z0-9.@_]*$/"  minlength="5" maxlength="12" cp-value-duplication="resources/users-data.json" cp-error-pos="right" ng-blur="showAlert()" placeholder="input field"> </cp-input>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <fieldset>
                <div class="row">
                    <div class="col-md-12">
                        <cp-input name="username"  ng-model="user.name" label="password" required="true" ng-pattern="/^[a-zA-Z0-9.@_]*$/"  minlength="5" maxlength="12" cp-value-duplication="resources/users-data.json" cp-error-pos="right" ng-blur="showAlert()" placeholder="input field"> </cp-input>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <fieldset>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-offset-3" style="padding-left:10px;">
                            <cp-button class="btn btn-primary" cp-type="medium" ng-click="submit()" ng-disabled="userForm.$invalid"> {{'formlabels.submit' | translate}} </cp-button>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</form>